---
import {
  IconBan,
  IconBrandChrome,
  IconBrandEdge,
  IconBrandFirefox,
  IconBrandOpera,
  IconClock,
  IconShield,
  IconSpyOff,
} from "@tabler/icons-react";
import Container from "../components/Container.astro";
import FeatureCard from "../components/featureCard.astro";
import Footer from "../components/footer.astro";
import { GetExtensionButton } from "../components/getButton";
import Navbar from "../components/navbar.astro";
import Layout from "../layouts/Layout.astro";
import urlWebStoreExtensions from "../assets/urlWebStoreExtensions.json";

const browserCompat = [
  {
    Icon: IconBrandChrome,
    type: "chrome",
  },

  {
    Icon: IconBrandFirefox,
    type: "firefox",
  },
  {
    Icon: IconBrandEdge,
    type: "edge",
  },
  {
    Icon: IconBrandOpera,
    type: "chrome",
  },
];
---

<Layout title="Welcome to FastForward">
  <Navbar />
  <header class=" w-full h-screen pb-20 ">
    <Container
      class="h-full flex items-center justify-center flex-col gap-2 text-center"
    >
      <h1 class="text-6xl max-md:text-5xl font-bold">FastForward</h1>
      <h3 class="text-xl max-md:text-lg mb-4">
        Don't waste time with compliance
      </h3>
      <GetExtensionButton client:load />
      <div class="flex items-center gap-2 mt-1">
        {
          browserCompat.map(({ Icon, type }) => {
            let url =
              urlWebStoreExtensions[type as keyof typeof urlWebStoreExtensions];
            return (
              <a
                href={url}
                class="hover:scale-125 transition-transform"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon className="w-7 h-7" />
              </a>
            );
          })
        }
      </div>
    </Container>
  </header>
  <main class="w-full">
    <Container class="py-24">
      <h2 class="text-3xl max-md:text-2xl text-center mb-20">
        What is FastForward?
      </h2>
      <div
        class="grid grid-cols-4 gap-5 max-lg:grid-cols-2 max-sm:grid-cols-1 max-sm:text-center"
      >
        <FeatureCard
          Icon={IconClock}
          title="Saves time"
          description="Circumvent sites which make you wait for 5 - 60 seconds while showing you ads"
        />
        <FeatureCard
          Icon={IconBan}
          title="Goodbye oblations"
          description="Bypass sites that make you do something such as subscribing to a youtube channel, or following somebody on social media"
        />
        <FeatureCard
          Icon={IconSpyOff}
          title="Goodbye trackers"
          description="Block sites that track information about you"
        />
        <FeatureCard
          Icon={IconShield}
          title="Protect yourself"
          description="It also helps to prevent your IP address from being logged by sites by blocking them."
        />
      </div>
    </Container>
  </main>
  <div class="absolute top-0 left-0 h-[200vh] w-full overflow-hidden -z-10">
    <div
      class="background absolute top-0 left-0 w-full h-screen flex items-center justify-center -z-10"
    >
      <div class="gradient transition-[width,height]"></div>
    </div>
  </div>
  <Footer />
</Layout>

<style lang="scss">
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .background {
    .gradient {
      --size: 750px;
      --speed: 80s;
      --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

      width: var(--size);
      height: var(--size);
      filter: blur(calc(var(--size) / 5));
      background: linear-gradient(hsl(222, 100%, 50%), hsl(268, 100%, 50%));
      animation: rotate var(--speed) var(--easing) infinite;
      border-radius: 30% 80% 70% 80% / 50% 30% 50% 70%;

      @media (min-width: 720px) {
        --size: 70vw;
      }
      @media (min-width: 1280px) {
        --size: 50vw;
      }
    }
  }
</style>
